@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* font-family: 'Raleway', sans-serif; */
}


.custom-img {
  background-image: url('./public/images/harley-davidson-qbpM-CLCRtg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.workorder-img {
  background-image: url('./public/images/aaron-huber-KxeFuXta4SE-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-img {
  background-image: url('./public/images/sumit-saharkar-d3_ssraccV8-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.media-text-image-1 {
  background-image: url('./public/images/gijs-coolen-Gsu0ChkpYg4-unsplash.jpg');
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-bg-img-1 {
  background-image: url('./public/images/gareth-david-m0chaAschUw-unsplash.jpg');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.43);
}


.icon-md svg {
  width: 20px;
  height: 20px;
}

.animate-right-to-left {
  animation: fadeInRightToLeft 2s ease-in-out forwards;
}

.animate-left-to-right {
  animation: fadeInLeftToRight 2s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}

.fade-in-slow {
  animation: fadeIn 3s ease-in-out forwards;
}

.fade-in-slower {
  animation: fadeIn 4s ease-in-out forwards;
}

.scroll {
  animation: scroll 10s linear infinite;
}


/* Animations */

@keyframes fadeInRightToLeft {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fadeInLeftToRight {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Adjust the translation based on the total width of your duplicated content */
    transform: translateX(-100%);
  }
}
